<div class="bloc-title">
    <div class="title">
        <h1 mat-dialog-title>Ajouter Congé</h1>
    </div>

    <span class="close-icon" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </span>
</div>

<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="dayOffForm" class="form">

            <mat-form-field class="form-element">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="employee">
                    <mat-option *ngFor="let employe of employes" [value]="employe">
                        {{employe.nameEmp}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="!dayOffForm.controls['employee'].valid && dayOffForm.controls['employee'].touched">
                    {{ getErrorEmployee() }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <mat-label>Date Début</mat-label>
                <input matInput type="datetime-local" formControlName="debutDayOff">
                <mat-error
                    *ngIf="!dayOffForm.controls['debutDayOff'].valid && dayOffForm.controls['debutDayOff'].touched">
                    {{ getErrorDebutDayOff() }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <mat-label>Date Fin</mat-label>
                <input matInput type="datetime-local" formControlName="finDayOff">


                <mat-error *ngIf="!dayOffForm.controls['finDayOff'].valid && dayOffForm.controls['finDayOff'].touched">
                    {{ getErrorFinDayOff() }}
                </mat-error>
            </mat-form-field>
        </form>
    </div>

    <div class="container">
        {{ dayOffForm.value | json }}
    </div>
</div>
<div mat-dialog-actions class="display_btn">
    <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!dayOffForm.valid"
        [mat-dialog-close]="dayOff" (click)="onSubmit()">Enregistrer</button>
</div>