<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">

      <!-- <h2>Welcome back, {{currentUser.nameEmp}}!</h2> -->

    </div>
    <mat-card>
      <mat-card-title>Statistiques</mat-card-title>

      <mat-card-content>
        <div class="row">
          <mat-form-field style="margin-right:10px">
            <mat-label>Employés</mat-label>
            <mat-select (selectionChange)="onEmployeeSelectList($event.value)">
              <mat-option [value]="currentUser"  selected=true>{{currentUser.nameEmp}}</mat-option>
              <mat-option *ngFor="let employe of employes" [value]="employe">
                {{employe.nameEmp}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field style="margin-left:10px">
            <mat-label>mois et année</mat-label>
            <input matInput [matDatepicker]="dp" (blur)="dateFormat('change', $event)" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" (blur)="dateFormat('change', $event)"
              (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)"
              panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>

        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" >

            <!-- workingMinutes Column -->
            <ng-container matColumnDef="workingMinutes">
              <th mat-header-cell *matHeaderCellDef > heures travaillées </th>
              <td mat-cell *matCellDef="let row"> {{prepareHours(row.workingMinutes)}} </td>
            </ng-container>

            <!-- daysOff Column -->
            <ng-container matColumnDef="daysOff">
              <th mat-header-cell *matHeaderCellDef > Congés </th>
              <td mat-cell *matCellDef="let row"> {{prepareHours(row.daysOff)}} </td>
            </ng-container>


            <!-- missions Column -->
            <ng-container matColumnDef="missions">
              <th mat-header-cell *matHeaderCellDef > missions </th>
              <td mat-cell *matCellDef="let row"> {{prepareHours(row.missions)}} </td>
            </ng-container>

            <!-- ecart Column -->
            <ng-container matColumnDef="ecart">
              <th mat-header-cell *matHeaderCellDef > ecart </th>
              <td mat-cell *matCellDef="let row"> {{prepareHours(row.ecart)}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <p class="card-category">Used Space</p>
          <h3 class="card-title">49/50
            <small>GB</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">warning</i>
            <a href="javascript:void(0)">Get More Space...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">store</i>
          </div>
          <p class="card-category">Revenue</p>
          <h3 class="card-title">$34,245</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <i class="material-icons">info_outline</i>
          </div>
          <p class="card-category">Fixed Issues</p>
          <h3 class="card-title">75</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Tracked from Github
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="fa fa-twitter"></i>
          </div>
          <p class="card-category">Followers</p>
          <h3 class="card-title">+245</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i> Just Updated
          </div>
        </div>
      </div>
    </div> 
</div>-->