.single-cards {
  margin: 20px 0;
}

.single-card .mat-card-avatar {
  width: 50px;
  height: 50px;
}

.single-card .mat-icon {
  font-size: 55px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-actions {
  width: 10% !important;
}

.actions-styling {
  padding-left: 10px;
}

.btns-space {
  margin-right: 5px;
  margin-left: 5px;
}
.projects-card>mat-card-content {
  max-height: 400px;
  overflow: auto;
}
.row{
  display: flex;
}




/* raw{
-webkit-text-size-adjust: 100%;
--blue: #2196f3;
--indigo: #3f51b5;
--purple: #9c27b0;
--pink: #e91e63;
--red: #f44336;
--orange: #ff9800;
--yellow: #ffeb3b;
--green: #4caf50;
--teal: #009688;
--cyan: #00bcd4;
--white: #ffffff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #2196f3;
--secondary: #6c757d;
--success: #4caf50;
--info: #00bcd4;
--warning: #ffeb3b;
--danger: #f44336;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: "Roboto","Helvetica","Arial",sans-serif;
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
font-size: 1rem;
text-align: left;
font-family: Roboto,Helvetica,Arial,sans-serif;
line-height: 1.5em;
color: #3c4858;
font-weight: 300;
box-sizing: border-box;
-webkit-tap-highlight-color: transparent;
-webkit-font-smoothing: antialiased;
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;}*/
