<div class="bloc-title">
    <div class="title">
        <h1 mat-dialog-title>Ajouter Mission</h1>
    </div>

    <span class="close-icon" (click)="onNoClick()">
        <mat-icon>close</mat-icon>
    </span>
</div>

<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="missionForm" class="form">

            <mat-form-field class="form-element">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="employee">
                    <mat-option *ngFor="let employe of employes" [value]="employe">
                        {{employe.nameEmp}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="!missionForm.controls['employee'].valid && missionForm.controls['employee'].touched">
                    {{ getErrorEmployee() }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <mat-label>Date Début</mat-label>
                <input matInput type="datetime-local"  formControlName="debutMission">
                <mat-error
                *ngIf="!missionForm.controls['debutMission'].valid && missionForm.controls['debutMission'].touched">
                {{ getErrorDebutMission() }}
            </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <mat-label>Date Fin</mat-label>
                <input matInput type="datetime-local" formControlName="finMission">
                <mat-error *ngIf="!missionForm.controls['finMission'].valid && missionForm.controls['finMission'].touched">
                    {{ getErrorFinMission() }}
                </mat-error>
            </mat-form-field>
        </form>
    </div>

    <!-- <div class="container">
        {{ missionForm.value | json }}
    </div> -->
</div>
<div mat-dialog-actions class="display_btn">
    <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!missionForm.valid"
    [mat-dialog-close]="missionForm.value">Enregistrer</button>
</div>
