<mat-card>
  <mat-card-title>Mon Planning : 
  <h4>{{nameHoraire}}</h4>
</mat-card-title>

  <mat-card-content>


      <div fxLayout="column" fxFlex="50%">
        <mat-label>Date Début : </mat-label>
        <p>{{debutHoraire|date:'YYYY-MM-dd'}}</p>
      
        <mat-label>Date Fin : </mat-label>
        <p>{{finHoraire|date:'YYYY-MM-dd'}}</p>
      </div>

      <div fxLayout="column" fxFlex="50%">
        <mat-label>heure debut : </mat-label>
        <p>{{heureDebut}}</p>

        <mat-label>heure fin : </mat-label>
       <p> {{heureFin}}</p>
      </div>

      <div fxLayout="column" fxFlex="50%">
        <mat-label>Durée pause : </mat-label>
        <p>{{dureePause}} minutes</p>
      </div>

      <div *ngIf="heureDebutSamedi!=null && heureFinSamedi!=null" fxLayout="column" fxFlex="50%">
        <mat-label>heure debut samedi : </mat-label>
        <p>{{heureDebutSamedi}}</p>
      
        <mat-label>heure fin samedi : </mat-label>
       <p> {{heureFinSamedi}}</p>
      </div>

    
  </mat-card-content>
</mat-card>