.file-input {
  display: none;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-element {
  width: 85%
}

.displayBtn{
  display: flex;
  justify-content: flex-end;
}

.mat-card{
  margin-top: 30px;
}