<form [formGroup]="form">
  <p>Utilisez le formulaire ci-dessous pour changer votre mot de passe.</p>

  <div fxLayout="row">

    <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">

      <mat-form-field class="full-width">
        <input matInput placeholder="mot de passe actuel" formControlName="currentPassword"
          [type]="hideCurrentPassword ? 'password' : 'text'" autocomplete="current-password">
        <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
          {{hideCurrentPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error
          *ngIf="form.controls['currentPassword'].hasError('required')&&form.controls['currentPassword'].hasError('minlength')">
          entrer votre mot de passe actuel
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="nouveau mot de passe" formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
          entrer le nouveau mot de passe
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Confirmer nouveau mot de passe" formControlName="newPasswordConfirm"
          [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['newPasswordConfirm'].hasError('required')">
          confirmer votre mot de passe </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit"
        (click)="changePassword()">enregistrer</button>

    </div>

  </div>

</form>

<!-- <div class="password-rules" fxFlex="65%" fxFlex.sm="90%" fxFlex.xs="95%">
    Password rules:
    <mat-list>
      <mat-list-item>
        Must be at least 6 characters
      </mat-list-item>

      <mat-list-item>
        Must contain at least one non alphanumeric character
      </mat-list-item>

      <mat-list-item>
        Must contain at least one lowercase ('a'-'z')
      </mat-list-item>

      <mat-list-item>
        Must contain at least one uppercase ('A'-'Z')
      </mat-list-item>
    </mat-list>
  </div> -->