
<mat-card>
  <mat-card-title>Les Plannings</mat-card-title>

  <mat-card-content>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="idPlaning">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idPlanning}} </mat-cell>
    </ng-container>
    <!-- name column-->
    <ng-container matColumnDef="namePlanning">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nom planning </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.namePlanning}} </mat-cell>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="primary" matTooltip="Ajouter nouveau planning" (click)="onSave()"
                class="btns-space">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-mini-fab style="background-color: #46a35e;" matTooltip="Modifier" (click)="onSave(row)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab color="warn" matTooltip="supprimer ce planning" (click)="onDelete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</mat-card-content>
