<mat-card>
    <mat-card-title>Liste des Jours Fériés</mat-card-title>
  
    <mat-card-content>
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

   
        <ng-container matColumnDef="idJFerie">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom jour férié </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>


        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date  </th>
            <td mat-cell *matCellDef="let row"> {{row.date | date:'dd/MM/yyyy'}} </td>
        </ng-container>


    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-raised-button color="primary" matTooltip="Ajouter nouveau congé" (click)="onSave()"
                    class="btns-space">
                    <mat-icon>add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let row" class="actions-styling">
                <button mat-mini-fab style="background-color: #46a35e;" matTooltip="Modifier"
                (click)="onSave(row)" class="btns-space">
                <mat-icon>edit</mat-icon>
            </button>

                <button mat-mini-fab color="warn" matTooltip="Supprimer ce jour férié" (click)="onDelete(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</mat-card-content>
</mat-card>
<!-- 
<kendo-calendar >
    <ng-template kendoCalendarMonthCellTemplate let-date>
        <span [ngClass]="isMeeting(date)">{{ date.getDate() }}</span>
    </ng-template>
    <ng-template kendoCalendarYearCellTemplate let-context="cellContext">
        <span [ngClass]="isYearMeeting(context.value)">{{
            context.formattedValue
            }}</span>
    </ng-template>
    <ng-template kendoCalendarDecadeCellTemplate let-context="cellContext">
        <span [ngClass]="isDecadeMeeting(context.value)">{{
            context.formattedValue
            }}</span>
    </ng-template>
    <ng-template kendoCalendarCenturyCellTemplate let-context="cellContext">
        <span [ngClass]="isCenturyMeeting(context.value)">{{
            context.formattedValue
            }}</span>
    </ng-template>
    <ng-template kendoCalendarWeekNumberCellTemplate let-context="cellContext">
        <span class="weeknumber-cell">{{ context.formattedValue }}</span>
    </ng-template>
    <ng-template kendoCalendarHeaderTitleTemplate let-title>
        {{ title }} !!!
    </ng-template>
    <ng-template kendoCalendarNavigationItemTemplate let-title let-date="date" let-view="activeView">
        {{ view === "month" && date.getMonth() === 0 ? "Jan" : title }}
    </ng-template>
</kendo-calendar> -->