/* .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 
  table {
    width: 100%;
    table-layout: fixed;
  }
  .mat-card{
    margin-top: 30px;
  }
  th,
  td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
 
  .mat-column-actions {
    width: 10% !important;
  }
 
  .actions-styling {
    padding-left: 10px;
  }
 
  .btns-space {
    margin-right: 5px;
  } */
  .meeting {
    position: relative;
    color: #00a1e8;
  }

  .meeting:after {
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 3px;
    height: 3px;
    margin-left: -1.5px;
    content: "";
    border-radius: 50%;
    background-color: #00a1e8;
  }

  .k-state-selected .meeting {
    color: #fff;
  }

  .k-state-selected .meeting:after {
    background-color: #fff;
  }

  .weeknumber-cell {
    color: red;
  }